:root {
    --black-color: #263238;
    --base-color: #BAEF00;
    --base-color-hover: #D9FF56;
    --base-color-active: #A3D200;
    --border-color: #E3E3E3;
    --placeholder-color: #8D8D8D;
}

html _{
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--black-color);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}


.default-link {
    color: var(--black-color);
    font-size: 20px;
    text-decoration: underline;
}

.default-link:focus-visible {
    outline: none;
    background-color: var(--base-color);
}

.default-link:hover{
    color: var(--base-color-hover);
}

.default-link:active {
    color: var(--base-color-active);
}

.container {
    max-width: 780px;
    margin: 0 auto;
    padding: 40px 15px;
}

@media (max-width: 740px) {
    body {
        
    }
}