:root {
    --black-color: #263238;
    --base-color: #BAEF00;
    --base-color-hover: #D9FF56;
    --base-color-active: #A3D200;
    --border-color: #E3E3E3;
    --placeholder-color: #8D8D8D;
    --trasntion-duration: .3s;
}

html _{
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--black-color);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 780px;
    margin: 0 auto;
    padding: 40px 15px;
}

/* Link */

.default-link {
    color: var(--black-color);
    font-size: 20px;
    text-decoration: underline;
    transition: color var(--trasntion-duration), background-color var(--trasntion-duration);
}

.default-link:focus-visible {
    outline: none;
    background-color: var(--base-color);
}

.default-link:hover{
    color: var(--base-color-hover);
}

.default-link:active {
    color: var(--base-color-active);
}

/* Button */

.default-btn {
    display: inline-block ;
    padding: 11px 47px;
    color: var(--black-color);
    border-radius: 12px;
    background-color: var(--base-color);
    border: none;
    outline: 1px solid transparent;
    outline-offset: 2px;
    transition: outline-color var(--trasntion-duration), background-color var(--trasntion-duration);
    cursor: pointer;
}

.default-btn:focus-visible {
    outline-color: var(--base-color);
}

.default-btn:hover {
    background-color: var(--base-color-hover);
}

@media (max-width: 740px) {
    body {    
    }
}